.login          { background:#F6F7F7; border:#fff solid 1px; width: 380px; margin:0 auto;
                  box-shadow:0 0 4px #D0D0D0;
}
.login img      { margin-top:20px;}
.login .body    { margin-top:20px;}